mixin checkboxesRepeat(idPrefix, items, status)
  -var repeatStatement = '(val, prop) in ' + items;
  -var idStatement = "{{ '" + idPrefix + "' + val }}";
  -var modelStatement =  status + '[val]';
  -var changeStatement = 'updateSubmit(' + modelStatement + ')';
  div(ng-repeat=repeatStatement)
    input(ng-attr-id=idStatement, type='checkbox', ng-attr-name="{{prop}}", ng-model=modelStatement, ng-change=changeStatement)
    label.check-img
    label.check-label(ng-attr-for=idStatement, ng-click="val == 'ARMS_CONTROL' && toggleMasteredWeapon()") {{prop}}

mixin loadingAnimation(condition)
  img.loading-animation(src='/images/loading.gif' ng-show=condition)

block extraHeaders
  link(rel='stylesheet', href='/stylesheets/create.css')

if errorMessage
  #error-block
    p #{errorMessage}

h1 Cr&eacute;ation d'un h&eacute;ro
form#create-player(ng-submit='formSubmit()')
  label#hero-lbl(for='heroname') Nom du h&eacute;ro : &nbsp;
  input#heroname.txt-box-underlined(type='text', name='heroname', ng-model='user.name', ng-change='updateSubmit()')
  br
  br
  fieldset.form-fieldset
    legend Disciplines et &eacute;quipement
    #discs.checkbox-container
      p Choisissez 5
        span &nbsp;disciplines
      +checkboxesRepeat('DISC_', 'context.disciplines', 'user.disciplinesStatus')
    #equip.checkbox-container
      p Choisissez 2
        span &nbsp;items
      +checkboxesRepeat('ITEMS_', 'context.items', 'user.itemsStatus')

    p#mastered-weapon(ng-class="{'invisible': masteredWeapon.value === null}") Arme maitrise : {{masteredWeapon.value}}

  br
  .button-group
    input.button(type='submit', value="Debuter l'aventure!", ng-disabled='!canSubmit || submitSent', ng-class="canSubmit ? 'button-success' : 'button-disabled'")
    +loadingAnimation('submitSent')

fieldset#players-list.form-fieldset
  legend Joueurs actifs
  p(ng-show='!loadingPlayers && players.length === 0') Aucun joueur existant
  +loadingAnimation('loadingPlayers')
  table
    tr(ng-repeat='player in players')
      td.player-continue(ng-click='continueStory(player)') {{player.name}}
      td
        input.button.small-button.button-error(type='button', value="Supprimer", ng-disabled='player.deleteSent', ng-click='deletePlayer(player)')
        +loadingAnimation('player.deleteSent')