mixin checkboxesRepeat(idPrefix, items, status, validate)
  -var repeatStatement = '(val, prop) in ' + items;
  -var idStatement = "{{ '" + idPrefix + "' + val }}";
  -var modelStatement =  status + '[val]';
  -var changeStatement = validate + '(' + modelStatement + ')';
  div(ng-repeat=repeatStatement)
    input(ng-attr-id=idStatement, type='checkbox', ng-attr-name="{{prop}}", ng-model=modelStatement, ng-change=changeStatement)
    label.check-img
    label.check-label(ng-attr-for=idStatement) {{prop}}

block extraScripts
  script(src="/js/create.js", async=true)
block extraHeaders
  link(rel='stylesheet', href='/stylesheets/create.css')

h1 Cr&eacute;ation d'un h&eacute;ro
form#create-player(action='/player')
  label#hero-lbl(for='heroname') Nom du h&eacute;ro : &nbsp;
  input#heroname.txt-box-underlined(type='text', name='heroname', ng-model='user.name')
  br
  br
  fieldset(class='form-fieldset')
    legend Disciplines et &eacute;quipement
    #discs.checkbox-container
      p Choisissez 5
        span &nbsp;disciplines
      +checkboxesRepeat('DISC_', 'disciplines', 'user.disciplinesStatus', 'validateDisciplines')
    #equip.checkbox-container
      p Choisissez 2
        span &nbsp;items
      +checkboxesRepeat('ITEMS_', 'items', 'user.itemsStatus', 'validateItems')

    p#mastered-weapon.invisible

  br
  input.button(type='button', value='Debuter l\'aventure!', ng-disabled='canSubmit', ng-class="canSubmit ? 'button-success' : 'button-disabled'")