mixin checkboxes(idPrefix, items)
  each val, prop in items
    -var fullId = idPrefix + prop;
    input(id=fullId, type='checkbox', name=prop)
    label.check-img
    label.check-label(for=fullId) #{val}


block extraScripts
  script(src="/js/create.js", async=true)
block extraHeaders
  link(rel='stylesheet', href='/stylesheets/create.css')

h1 Cr&eacute;ation d'un h&eacute;ro
form#create-player(action='/player')
  label#hero-lbl(for='heroname') Nom du h&eacute;ro : &nbsp;
  input#heroname.txt-box-underlined(type='text', name='heroname')
  br
  br
  fieldset(class='form-fieldset')
    legend Disciplines et &eacute;quipement
    #discs.checkbox-container
      p Choisissez 5
        span &nbsp;disciplines
      +checkboxes('DISC_', gameInfo.DISCIPLINES)

    #equip.checkbox-container
      p Choisissez 2
        span &nbsp;items
      +checkboxes('ITEM_', gameInfo.ITEMS)

    p#mastered-weapon.invisible

  br
  input.button.button-success(type='button', value='Debuter l\'aventure!')