link(rel='stylesheet', href='/stylesheets/game.css')
link(rel='stylesheet', href='/stylesheets/adventure-sheet.css')

mixin storyLink(page, section)
  -var s = section ? ',' + section : '';
  -var clickStatement = 'goToStory(' + page + s + ')';
  a(href='', ng-click=clickStatement) Rendez-vous au #{page}.

mixin tooltipInfo(title, refreshHelpInfo)
  -var titleStatement = "{{" + title + "}}";
  img.help-icon(src="/images/helpInfo.png" ng-attr-title=titleStatement, ng-mouseover=refreshHelpInfo)

mixin randomButton(page)
  -var clickStatement = '!page.choiceMade && getRandomPageServer(' + page + ')';
  a.button.button-warning(href='', ng-click=clickStatement, ng-class="{'button-disabled': page.choiceMade}") Choix aleatoire

if errorMessage
  #error-block
    p #{errorMessage}

#adventure-sheet
  h1.hero-name #[img(src='/images/hero.png')] {{info.player.name}}
  hr
  ul.attributes
    li Habilet&eacute; : {{info.progression.combatSkill}}
      +tooltipInfo('help.combatInfo', 'updateCombatInfo()')
    li Endurance : {{info.progression.endurance}}
      +tooltipInfo('help.enduranceInfo', 'updateEnduranceInfo()')
    li Pi&egrave;ces d'or : {{info.progression.money}}
  p Disciplines Kai :
    ul.disciplines
      li(ng-repeat='discipline in info.player.disciplines') {{context.disciplines[discipline]}}
  h2 #[img(src='/images/sword.png')] Derniers Combats #[img(src='/images/sword.png')]
  hr
  ol
    li(ng-repeat='fight in fights', ng-class="fight.result == 'Victoire' ? 'fight-victory' : 'fight-defeat'") {{fight.versus + ' - ' + fight.result}}
      img(ng-src="{{fight.result == 'Victoire' ? '/images/trophy.png' : '/images/skull.png'}}")

  img#blood-splash(src='/images/blood-splash.png')
  a.button.button-brown(href="", ng-click='showBackpackPrompt()') Sac &agrave; dos
  #backpack-modal.modal-dialog(ng-class="{'show-modal': prompt.showBackpack}")
    div
      a.modal-close(href="", title="Close", ng-click='hideBackpackPrompt()') X
      h2 Sac &agrave; dos
      table.tbl-backpack
        tr(ng-repeat='row in itemsTableArray')
          td(ng-repeat='item in row')
            img.img-table-backpack(src='{{item.src}}')
            p= '{{item.name}}'

  a#special-objects.button.button-brown(href="", ng-click='showSpecialObjectsPrompt()') Objets sp&eacute;ciaux
  #special-modal.modal-dialog(ng-class="{'show-modal': prompt.showSpecialObjects}")
    div
      a.modal-close(href="", title="Close", ng-click='hideSpecialObjectsPrompt()') X
      h2 Objets sp&eacute;ciaux
      table.tbl-backpack
        tr(ng-repeat='row in specialObjectsTableArray')
          td(ng-repeat='item in row')
            img.img-table-backpack(src='{{item.src}}')
            p= '{{item.name}}'

h1 Page ##{pageNumber}
block timeleft
block story
block prompt
block fight