extends ../layout

//- Page de creation

mixin checkboxes(idPrefix, items)
  -var counter=1;
  each val, prop in items
    -var fullId = idPrefix + counter;
    input(id=fullId, type='checkbox', name=prop)
    label.check-img
    label.check-label(for=fullId) #{val}
    -counter = counter+1;

block extraScripts
  script(src="/js/create.js", async=true)

block extraHeaders
  link(rel='stylesheet', href='/stylesheets/create.css')

block content
  h1 Cr&eacute;ation d'un h&eacute;ro
  form#create-player(action='/player')
    label#hero-lbl(for='heroname') Nom du h&eacute;ro : &nbsp;
    input#heroname.txt-box-underlined(type='text', name='heroname')
    br
    br
    fieldset(class='form-fieldset')
      legend Disciplines et &eacute;quipement
      #discs.checkbox-container
        p Choisissez 5
          span &nbsp;disciplines
        +checkboxes('d', gameInfo.DISCIPLINES)

      #equip.checkbox-container
        p Choisissez 2
          span &nbsp;items
        +checkboxes('i', gameInfo.ITEMS)

    br
    input.button.button-success(type='button', value='Debuter l\'aventure!')