extends ../layout

block extraHeaders
  link(rel='stylesheet', href='/stylesheets/game.css')

block content
  // Dummy data, only for the first tps
  -var hero = { name: 'Felix Le Vainqueur', ability: 10, endurance: 20, money: 10, disciplines: 'Communication Animale, 6e Sens', equipment: 'Marteau de guerre, glaive', fights: [ { opponent: 'Le Seigneur de glaces', result: 'Victoire' } ]};
  h1 Page ##{pageNumber}
  block story
  block fight
  h2 Statistiques
  ul
    li Nom : #{heroname}
    li Habilet&eacute; : #{hero.ability}
    li Endurance : #{hero.endurance}
    li Pi&egrave;ces d'or : #{hero.money}
    li Disciplines Kai : #{hero.disciplines}
    li &Eacute;quipement : #{hero.equipment}
  h3 Derniers Combats
  ol
    each fight in hero.fights         
        li= fight.opponent + ' - ' + fight.result