extends ../layout

block extraHeaders
  link(rel='stylesheet', href='/stylesheets/game.css')
  link(rel='stylesheet', href='/stylesheets/adventure-sheet.css')
block angularScripts
  script(src='/lib/angular/angular.js')
  script(src='/js/app.js')
mixin backpackRow(array, start, finish)
  tr
    -for (var i = start; i < finish; i++) {
      - var item = { name: 'Vide', src: '/images/backpack-empty.png' };
      - if (i < array.length) {
        - item = { name: array[i].name, src: '/images/' + array[i].file }
      -}
      td
        img.img-table-backpack(src=item.src)
        p= item.name
    -}

block content
  // Dummy data, only for the first tps
  -var hero = { name: 'Felix Le Vainqueur', ability: 10, endurance: 20, money: 10, equipment: [{ name: 'Marteau de guerre', file: 'warhammer.png' }, { name: 'Glaive', file: 'glaive.png' }, { name: 'Potion de Lampsur', file: 'lampsur.png' }], fights: [ { opponent: 'Le Seigneur de glaces', result: 'Victoire' }, { opponent: 'Dracula', result: 'Defaite' } ]};
  -hero.specials = [{name : "Gilet de cuir matelasse", file: "quilted-vest.png"}];
  -hero.disciplines = 'Communication Animale, 6e Sens';
  h1 Page ##{pageNumber}
  #adventure-sheet
    h1.hero-name #[img(src='/images/hero.png')] #{heroname}
    hr
    ul.attributes
      li Habilet&eacute; : #{hero.ability}
      li Endurance : #{hero.endurance}
      li Pi&egrave;ces d'or : #{hero.money}
      li Disciplines Kai : #{hero.disciplines}
    h2 #[img(src='/images/sword.png')] Derniers Combats #[img(src='/images/sword.png')]
    hr
    ol
      each fight in hero.fights
        -var fightClass = fight.result == 'Victoire' ? 'fight-victory' : 'fight-defeat'
        -var fightContent = fight.opponent + ' - ' + fight.result
        -var fightImage = fight.result == 'Victoire' ? '/images/trophy.png' : '/images/skull.png';
        li(class=fightClass) #{fightContent}
          img(src=fightImage)
    img(src='/images/blood-splash.png')
    a.button.button-brown(href="#backpack-modal") Sac &agrave; dos
    #backpack-modal.modal-dialog
      div
        a.modal-close(href="#close", title="Close") X
        h2 Sac &agrave; dos
        table.tbl-backpack
          +backpackRow(hero.equipment, 0, 3)
          +backpackRow(hero.equipment, 3, 6)
          +backpackRow(hero.equipment, 6, 8)

    a#special-objects.button.button-brown(href="#special-modal") Objets sp&eacute;ciaux
    #special-modal.modal-dialog
      div
        a.modal-close(href="#close", title="Close") X
        h2 Objets sp&eacute;ciaux
        table.tbl-backpack
          tr
            td
            -var uniqueSpecialItem = hero.specials[0];
            td
              img.img-table-item(src='/images/' + uniqueSpecialItem.file)
              p= uniqueSpecialItem.name
            td

  block sections
  block prompt
  block fight
  block decision
